.comment-div {
    position: relative;
}

.action-btns {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
}

.comment-div:hover .action-btns {
    opacity: 100%;
}